body{
	font-family: 'Open Sans', sans-serif;
    color: maroon;
    font-size: 2rem;
    text-align: center;
}

h1, h2, p, a{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3rem;
}

p{
    color: black;
}

// MOBILE FIRST SIZING
.wrapper {
	width: 90%;
	margin: 0 auto;
	padding: 1em;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section{
    width: 100%;
    padding: .5em;
    display: flex; 
    justify-content: center;
    align-items: flex-start;
}

section .section-2{
    margin-top: 1em;
    text-align: center;
}



@media only screen and (min-width: 900px) {
	.wrapper{
		max-width: 1024px;
		margin: 0 auto;
	}

    main{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    section{
        width: 50%;
    }

    section.section-2{
        margin-top: 0;
    }
}